<div class="container">
    <div class="body">
        <img src="../../../assets/images/about.png"/>
        <div class="conatainerAbout">
            <h1>About Us</h1>
            <p>
                A belief to create a playground where you can fit in with other fellow misfits, where access is not
                limited by narrow memberships
                wall. A belief that you can play when you want...where you want...how you want, and not have to suffer
                the agony of the wait.
                A belief to create a world where you can lose yourself and yet rediscover yourself, where you can be
                both the victor and
                the vanquished and laugh at being both. A belief...that happiness is a dish best served on the field.
            </p>
        </div>
    </div>
</div>