<div class="container">
    <div class="body">
        <div>
            <div class="header">
                Welcome to KHEL KHILARI 
            </div>
            <div class="text"> 
                One-Stop Sports App to help bring back Play in everyday lives.
                we empower local communities to make new play pals, organize 
                playgroup, share information/experience and discover sporting venues/activities. 
            </div>
            <div class="appLink">
                <img src="../../../assets/images/appleStore.png"/>
                <img src="../../../assets/images/playStore.png"/>
            </div>
            <div class="icons">
                <span>Facebook</span>
                <span>integram</span>
                <span>twitter</span>
            </div>
        </div>
        <div>
            <img src="../../../assets/images/home.png" />
        </div>
    </div>
</div>