<div class="container">
    <div class="card">
        <img src="../../../assets/images/shop1.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>John Doe</b></div>
            <div>Architect & Engineer</div>
            <a href="https://www.google.com/maps/place/UCP+B-Building+Courtyard/@31.4473651,74.2663523,17z/data=!3m1!4b1!4m5!3m4!1s0x391901866b8e1a97:0x567ce2b9d66a3770!8m2!3d31.4473651!4d74.268541" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/shop1.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>John Doe</b></div>
            <div>Architect & Engineer</div>
            <a href="https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_flex-wrap" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/shop1.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>John Doe</b></div>
            <div>Architect & Engineer</div>
            <a href="https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_flex-wrap" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/shop1.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>John Doe</b></div>
            <div>Architect & Engineer</div>
            <a href="https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_flex-wrap" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/shop1.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>John Doe</b></div>
            <div>Architect & Engineer</div>
            <a href="https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_flex-wrap" target="_blank" >visit to google map</a>
        </div>
    </div>
</div>
