<div class="container">
    <div class="card">
        <img src="../../../assets/images/shop1.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>Apollo Sports</b></div>
            <div>03164790312</div>
            <a href="https://www.google.com/maps/dir//Apollo+Sports+(Faisal+Town+Branch),+750-C+Maulana+Shaukat+Ali+Rd,+Block+C+Faisal+Town,+Lahore,+Punjab,+Pakistan/@31.4796189,74.2738117,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x391903fb62dc0897:0xb5ebc418e683a5e5!2m2!1d74.3023932!2d31.4745416" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/shop2.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>Umer Sports</b></div>
            <div>03084440616</div>
            <a href="https://www.google.com/maps/dir//Umer+Sports,+184,+3B%2F1,+Main+Market,+Town+Ship,+Sector+B-1+Block+4+Sector+B+1+Lahore,+Punjab+54000,+Pakistan/@31.460194,74.2793348,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x391906ad6c5676ed:0x5715425c1e596aaf!2m2!1d74.3143542!2d31.4601988" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/shop3.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>Sport Zone</b></div>
            <div>03364524519</div>
            <a href="https://www.google.com/maps/dir//SPORTS+ZONE,+Block+F+Pia+Housing+Scheme,+Lahore/@31.4456729,74.2400028,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3919016d21068591:0x400c4f3d30d63b5f!2m2!1d74.2750222!2d31.4456777" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/shop4.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>FireEox Sports</b></div>
            <div>03009994561</div>
            <a href="https://www.google.com/maps/dir//FIREOX+Sports,+Block+D+Faisal+Town,+Lahore/@31.4680229,74.2724868,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3919017524077e25:0x4849390ef166491e!2m2!1d74.3075094!2d31.4680253" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/shop5.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>Dubai Sports</b></div>
            <div>03457317891</div>
            <a href="https://www.google.com/maps/dir//Dubai+Sports,+1st+Floor+-+Mian+G-1+Market+Plaza,+G-1+Market+G-1+Block%D8%8C+Abdul+Haque+Rd,+Block+G+1+Phase+1+Johar+Town,+Lahore,+Punjab,+Pakistan%E2%80%AD/@31.4757581,74.2449401,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x391903db218cdb77:0xaba0ee4b36e60cac!2m2!1d74.2799595!2d31.4757629" target="_blank" >visit to google map</a>
        </div>
    </div>
</div>
