<div class="container">
    <div #sp class="chat">Loading...</div>
    <div class="shops">
        <div class="header">Get Your Own Kit</div>
        <div class="details">Check out the store in your area.<br />Click below to review business hours.</div>
        <div class="shop-Cards">
            <div class="card">
                <img src="../../../assets/images/shop1.jpeg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/shop1.jpeg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
    </div>
</div>