.container {
    display: flex;

    .chat {
        width: 750px;
        height: 750px;
        border-right: 5px solid black;
    }

    .shops {
        padding: 10px;
        margin-left: 50px;
        .header {
            font-weight: bold;
            font-size: 45px;
            color: black;
            text-align: center;
            padding-bottom: 40px;
        }
        .details{
            font-size: bold;
            font-size: 30px;
            text-align: center;
            color: black;
        }
        .shop-Cards{
            padding-top: 20px;
            display: flex;
            .card{
                
            }
        }

    }

}