<div class="container">
    <div class="card">
        <img src="../../../assets/images/v1.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>Sector: G, Sports Complex, Phase 5, DHA</b></div>
            <div>04237176152</div>
            <a href="https://www.google.com/maps/dir//Sector:+G,+Sports+Complex,+Phase+5,+DHA,+F97W%2BH2V,+Street+10,+Sector+G+Phase+5+D.H.A,+Lahore,+Punjab,+Pakistan/@31.4640551,74.3600139,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3919061a109cade5:0x94552c7a97b50cee!2m2!1d74.3950334!2d31.4639867" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/v2.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>LDA SPORTS COMPLEX</b></div>
            <div>04211332456</div>
            <a href="https://www.google.com/maps/dir//LDA+Sports+Complex,+Service+Road,+Block+D2+Block+D+2+Phase+1+Johar+Town,+Lahore/@31.4608759,74.2494836,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x39190166cd9c29bd:0x6d6ab86dc5d6c0a8!2m2!1d74.2845031!2d31.4608075" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/v3.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>Samanabad Sports Complex</b></div>
            <div>0421256344</div>
            <a href="https://www.google.com/maps/dir/Samanabad+Sports+Complex,+Ghazali+Road,+Samanabad+Town,+Lahore/LDA+Sports+Complex,+Service+Road,+Block+D2+Block+D+2+Phase+1+Johar+Town,+Lahore/@31.4965463,74.2570311,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x391903664e6dac15:0xbb20e9b3b77f94f5!2m2!1d74.3027163!2d31.5321497!1m5!1m1!1s0x39190166cd9c29bd:0x6d6ab86dc5d6c0a8!2m2!1d74.2845031!2d31.4608075" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/v4.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>Johar Sports Complex</b></div>
            <div>04215324696</div>
            <a href="https://www.google.com/maps/dir//Johar+Sports+Complex,+Block+R2+Block+R+2+Phase+2+Johar+Town,+Lahore/@31.4918334,74.2574168,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x39190147541b9b41:0x94abf7d19a4b7441!2m2!1d74.2729937!2d31.4515979" target="_blank" >visit to google map</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/v5.jpeg" alt="Avatar" style="width:100%">
        <div class="container">
            <div><b>DHA Sports Complex</b></div>
            <div>042546932254</div>
            <a href="https://www.google.com/maps/dir//DHA+Sports+Complex,+Street+25,+Sector+XX+DHA+Phase+3,+Lahore/@31.4673418,74.3297536,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3919067c893c2965:0xb49008e537a934c3!2m2!1d74.3648584!2d31.467263" target="_blank" >visit to google map</a>
        </div>
    </div>
</div>
