.container {
    .nav {
        display: flex;
        padding: 25px;
        background-color: #4b4b4b;
        color: white;

        .logo {
            flex: 1;

        }

        .navItem {
            display: flex;

            .Item {
                padding: 0px 5px;
            }


        }
    }

    .body {
        padding: 50px;

        .header {
            display: flex;
            justify-content: space-between;

            button {
                width: 170px;
                height: 35px;
                border: none;
                background-color: #4b4b4b;
                color: white;
                border-radius: 5px;
            }
        }

        .title {
            font-size: 35px;
            margin-bottom: 20px;
        }

        .subtitle {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .text {
            margin-top: 35px;
            margin-left: 25px;
        }

        .sport {
            display: flex;
            padding: 30px;

            .part1 {
                flex: 1;

                .football {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;
                }

                .cricket {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;
                }

                .tennis {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;
                }
            }

            .part2 {
                flex: 1;

                .badminton {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;

                    img {
                        width: 90px;
                    }
                }

                .basketball {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;

                    img {
                        width: 90px;
                    }
                }

                .golf {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;
                }
            }

            .part3 {
                flex: 1;

                .snooker {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;
                }

                .foosball {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;

                    img {
                        width: 90px;
                    }
                }

                .tabletennis {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;

                    img {
                        width: 90px;
                    }
                }
            }
        }
    }
}

.game-container {
    .game-header {
        display: flex;
        justify-content: center;
        font-size: 65px;
        border-bottom: 2px solid #4b4b4b;
        margin-bottom: 10px;
    }

    .game-body {
        display: flex;
        justify-content: space-around;

        .chat {
            height: 500px;
            padding-top: 100px;
        }

        .example-list {
            width: 500px;
            max-width: 100%;
            border: solid 1px #ccc;
            min-height: 60px;
            display: block;
            background: white;
            border-radius: 4px;
            overflow: hidden;
        }

        .example-box {
            padding: 20px 10px;
            border-bottom: solid 1px #ccc;
            color: rgba(0, 0, 0, 0.87);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            cursor: move;
            background: white;
            font-size: 14px;
        }

        .cdk-drag-preview {
            box-sizing: border-box;
            border-radius: 4px;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
        }

        .cdk-drag-placeholder {
            opacity: 0;
        }

        .cdk-drag-animating {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }

        .example-box:last-child {
            border: none;
        }

        .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
    }

    .gamemap {
        text-align: center;

        .header-gamemap {
            margin-top: 25px;
            font-size: 45px;
            border-bottom: 2px solid #4b4b4b;
            margin-bottom: 10px;
        }
    }

}