<div class="container">
    <div class="nav">
        <div class="logo">
            KHEL KHILARI
        </div>
        <div class="navItem">
            <a class="Item" routerLink="/home">HOME</a>
            <a class="Item" routerLink="/about">ABOUT US</a>
            <a class="Item" routerLink="/sport">SPORTS</a>

            <!-- <a class="Item" routerLink="/contact">CONTACT</a> -->
            <mat-icon class="Item" routerLink="/login">account_circle</mat-icon>
        </div>
    </div>
</div>
<router-outlet></router-outlet>