<div class="container">
    <div class="login">
        <h1>Login</h1>
        <p>Sign in to continue</p>
        <div class="login-form">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <button>Login</button>
            </form>
        </div>
    </div>
    <div class="register">
        <h1>Create new Account</h1>
        <div class="register-form">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Title</label>
                    <select formControlName="title" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
                <button class="btn btn-primary mr-1">Register</button>
            </form>
        </div>
    </div>
</div>

<div class="profile-container">
    <div class="user">
        <img src="../../../assets/images/badminton.png" alt="">
        <div class="detail">
            <div class="name">NoorRasheed</div>
            <div class="email">noorrasheed317@gmail.com</div>
            <div class="address">University of Central Punjab lahore</div>
        </div>
    </div>
    <div class="progressBar">
        <div class="row1">
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#4b4b4b'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="progressText">Football</div>
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#4b4b4b'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="progressText">Badminton</div>
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#4b4b4b'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="progressText">Snooker</div>
        </div>
        <div class="row2">
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#4b4b4b'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="progressText">Cricket</div>
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#4b4b4b'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="progressText">BasketBall</div>
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#4b4b4b'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="progressText">Foosball</div>
        </div>
        <div class="row3">
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#4b4b4b'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="progressText">Tennis</div>
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#4b4b4b'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="progressText">Golf</div>
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#4b4b4b'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="500">
            </circle-progress>
            <div class="progressText">TableTennis</div>
        </div>
    </div>
</div>